@font-face {
    font-family: 'eleven_twenty';
    src: url('fonts/eleven_twenty.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #EDC7B7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    font-family: 'eleven_twenty';
    color: #AC3B61;
    font-size: 150px;
    margin-top: 70px;
  }
  
  .login {
    font-family: 'eleven_twenty';
    color: #123C69;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  
  .container {
    justify-items: center;
    background-color: #EEE2DC;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
    margin-top: 100px; 
    margin-bottom: 200px; 
    height: 400px;
  }
  
  h1 {
    color: #123C69;
    margin-bottom: 20px; 
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #AC3B61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #AC3B61;
  }
  
  .flashes {
    list-style: none;
    padding: 0;
  }
  
  .flashes li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
  }

  /* Game area styles */
.game-area {
    flex: 1; 
    position: relative; 
    background-color: #f0f0f0; 
    border: 2px solid #ccc; 
}

/* Leaderboard styles */
.leaderboard {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    width: 200px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    opacity: 75%;
    
}

/* Sidebar styles */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff; 
    border-left: 2px solid #ccc; 
}

/* Chat form styles */
.chat-form {
    margin-top: auto; 
    padding: 10px; 
    border-top: 1px solid #ccc; 
}