<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <title>Login</title>
</head>
<body>
  <h1 class="title">GAME NAME</h1>

  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  <h2 class="login">LOGIN</h2>

    <form method="post" action="/login_or_create">
      <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit" name="action" value="login">Login</button>
        <button type="submit" name="action" value="create_account">Create Account</button>
      </form>
      <form method="post" action="/play_as_guest">
        <button type="submit">Play as Guest</button>
      </form>
        
    </div>
</body>
</html>